# Node
node_modules/
client/dist/
client/package-lock.json

# Python
__pycache__/
*.pyc
server/venv/
server/zns.db
server/certs/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Temp
.tmp/
*.log
